* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@font-face {
  font-family: titulo;
  src: url(../fonts/GochiHand-Regular.ttf) format("truetype");
}

body {
  background-color: #01314d;
}

header {
  height: 50vh;
  display: flex;
  width: 100%;
  background-image: url(../img/imgHeader.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
.imgPortada {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 50%;
}

.centrarLogo {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerTitulo {
  display: flex;
  justify-content: center;
  width: 50%;
}

h1 {
  font-style: italic;
  font-family: system-ui;
  margin: 10px;
  padding: 10px;
  font-size: 80px;
  align-self: flex-end;
  background: linear-gradient(to right, #01314d, #cc7e3b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: focus-in-contract 10s 1;
  animation: focus-in-contract 8s;
}
@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

nav {
  display: flex;
  justify-content: end;
}

nav ul li a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: transform;
  transition-property: transform;
  font-family: "titulo";
  margin: 5px 50px;
  color: #cc7e3b;
  font-size: 20px;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
  -webkit-transform: translateX(25px);
  transform: translateX(25px);
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.texto {
  color: white;
  margin-left: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  line-height: 2;
  width: 70%;
}
.containerTexto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

aside {
  display: flex;
  margin: auto;
  margin-top: 100px;
  width: 100%;
  height: auto;
}

.galeriaImg {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: center;
  align-items: center;
}

h2 {
  text-align: center;
  font-size: 35px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  line-height: 2;
  color: #cc7e3b;
}

.imgAside {
  border-radius: 200px;
  margin: 10px;
  height: auto;
  -webkit-animation: tilt-in-fwd-tl 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-fwd-tl 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  --s: 315px; /* the size of the image */
  --b: 8px; /* the border thickness*/
  --g: 20px; /* the gap */
  --c: #cc7e3b; /* the color */

  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s) / 2) solid #0009;
  outline-offset: calc(var(--s) / -2);
  cursor: pointer;
  transition: 0.3s;
}
.imgAside:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

@-webkit-keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

.contenedorVideo {
  width: 100%;
  display: flex;
  margin: 200px 0 0 20px;
}

.videoAside {
  width: 50%;
  height: 70vh;
  margin-bottom: 100px;
}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedorFormulario {
  width: 50%;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

button {
  font-family: "titulo";
  font-size: 20px;
  width: 250px;
  border-radius: 25px;
  margin: 25px;
  padding: 10px;
  background-color: #1f88a8;
  box-shadow: -15px 0px 5px 0px rgba(42, 42, 42, 0.88);
  text-shadow: 1px 0px 3px rgba(42, 42, 42, 0.74);
}
button:hover {
  outline: #cc7e3b solid 2px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  font-family: "titulo";
}

.whatsapp {
  width: 20px;
}

.instagram {
  margin-left: 15px;
  width: 20px;
}

.logosPng {
  width: 20px;
}
