* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
@font-face {
  font-family: titulo;
  src: url(../fonts/GochiHand-Regular.ttf) format("truetype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #01314d;
 
}
html {
  scroll-behavior: smooth;
}

  header {
    display: flex;
    width: 100%;
    height: 500px;
    background-image: url(../img/imgHeader.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
  } 
  
.imgPortada {
  width: 300px;
  height: 300px;
  margin: 10px;
  border-radius: 50%;
}

.centrarLogo {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-wrap: wrap;
}

.containerTitulo {
  display: flex;
  justify-content: center;
  width: 50%;
}

nav {
  display: flex;
  justify-content: end;
}

nav ul li a {
  display: inline-block;
  color: #318aac !important;
  font-size: 20px;
  font-weight: 500;
  padding: 0.5em 1.2em;
  background: rgba(0, 0, 0, 0);
  border: 2px solid;
  border-color: #318aac;
  transition: all 1s ease;
  position: relative;
  margin: 5px 15px;
  border-radius: 10px;
}
nav ul li{
  display: inline-block;
}
nav ul li a:hover {
  background: #cc7e3b;
  color: #fff !important;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.texto {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  line-height: 1.7;
  width: 70%;
  font-size: 20px;

}
.containerTexto {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.containerTexto2 {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
 
}

.texto2 {
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: italic;
  line-height: 1.7;
  font-size: 20px;
  width: 50%;
  
}
.imgTexto {
  width: 600px;
  margin-top: 25px;
  box-sizing: border-box;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px white);
}

aside {
  display: flex;
  margin-top: 80px;
  width: 100%;
  height: auto;
}
h2 {
  text-align: center;
  font-size: 35px;
  font-family: system-ui;
  font-style: italic;
  line-height: 2;
  color: #cc7e3b;
}

.imgAside {
  border-radius: 200px;
  margin: 35px;
  -webkit-animation: tilt-in-fwd-tl 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: tilt-in-fwd-tl 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  --s: 350px; /* the size of the image */
  --b: 10px; /* the border thickness*/
  --g: 15px; /* the gap */
  --c: #cc7e3b; /* the color */
  width: var(--s);
  aspect-ratio: 1;
  outline: calc(var(--s) / 2) solid #0009;
  outline-offset: calc(var(--s) / -2);
  cursor: pointer;
  transition: 0.3s;

}
.imgAside:hover {
  outline: var(--b) solid var(--c);
  outline-offset: var(--g);
}

/* EFECTOS DE LAS IMAGENES DE ASIDE  */

@-webkit-keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

@keyframes tilt-in-fwd-tl {
  0% {
    -webkit-transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    transform: rotateY(-20deg) rotateX(35deg) translate(-300px, -300px)
      skew(35deg, -10deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    transform: rotateY(0) rotateX(0deg) translate(0, 0) skew(0deg, 0deg);
    opacity: 1;
  }
}

h1 {
  font-style: italic;
  font-family: system-ui;
  margin: 10px;
  padding: 10px;
  font-size: 80px;
  align-self: flex-end;
  background: linear-gradient(to right, #01314d, #cc7e3b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: focus-in-contract 10s 1;
  animation: focus-in-contract 8s;
}

/* EFECTO H1  */

@-webkit-keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-contract {
  0% {
    letter-spacing: 1em;
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.galeriaImg {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  height: auto;
  justify-content: center;
  align-content: center;
 
}

.contenedorVideo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 200px 0 0 20px;

}

.videoAside {
  width: 50%;
  height: 70vh;
  margin-bottom: 100px;

}

form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contenedorFormulario {
  width: 35%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;

}

button {
  font-family: "titulo";
  font-size: 20px;
  width: 250px;
  border-radius: 25px;
  margin: 25px;
  padding: 10px;
  background-color: #1f88a8;
  box-shadow: -15px 0px 5px 0px rgba(42, 42, 42, 0.88);
}
button:hover {
  outline: #cc7e3b solid 2px;
  box-shadow: 0 0 30px #cc7e3b;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  font-family: sans-serif;
  font-style: italic;
}

.whatsapp {
  width: 20px;
}

.instagram {
  margin-left: 15px;
  width: 20px;
}

.logosPng {
  width: 20px;
}

 

/* RESPONSIVE DESING*/

@media  (max-width: 750px){


header{
 display: flex;
 flex-direction: row;
 align-items:end;
 background-image: url(../img/imgHeader.webp);
 background-size: cover;
 width: 100%;
height: 200px;
}
.containerTitulo{
  width: 100%;
}
.imgPortada{
  width:  100px;
  height: auto;
}
nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
h1{
  font-style: italic;
  font-family: system-ui;
  margin: 10px;
  padding: 10px;
  font-size: 30px;
  align-self: flex-end;
  background: linear-gradient(to right, #01314d, #cc7e3b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-animation: focus-in-contract 10s 1;
  animation: focus-in-contract 8s;
}
aside{

width: 430px;
height: 600px;
}

nav ul li a {
  font-size: 10px;
}

aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
}
h2{
  text-align: center;
  font-size: 25px;
  font-family: system-ui;
  font-style: italic;
  
}
.texto{
  display: flex;
  width: 100%;
  font-size: 12px;
  text-align: start;
  margin-left: 10px ;
  padding: 5px;
  box-sizing:border-box ;
  line-height: 1.5;
}
.containerTexto{
  width: 97%;
}

.galeriaImg{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
  .imgAside{
    margin-top: 20px;
    border-radius: 200px;
    -webkit-animation: tilt-in-fwd-tl 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: tilt-in-fwd-tl 6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    --s: 100px; /* the size of the image */
    --b: 10px; /* the border thickness*/
    --g: 15px; /* the gap */
    --c: #cc7e3b; /* the color */
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s) / 2) solid #0009;
    outline-offset: calc(var(--s) / -2);
    cursor: pointer;
    transition: 0.3s;
  }

  .videoAside{
    display: none;
  }

  .containerTexto2{
    display: flex;
   align-items: start;
    width: 100%;
  }

  .imgTexto{
    width: 90%;
    padding: 5px;

  }
  .texto2{
    width: 95%;
  }







}